version: "3"
services:
  superset:
    image: mlgrm/dms-superset
    restart: always
    ports:
      - "8088"
    volumes: # these need to be owned by uid 1000
      - ./superset/superset_config.py:/etc/superset/superset_config.py
      - ./superset/data/:/var/lib/superset/
    networks:
      - default
      - privatenet
    environment:
      MAPBOX_API_KEY: ${MAPBOX_API_KEY}
      VIRTUAL_HOST: ${SUPERSET_DOMAIN}
      LETSENCRYPT_EMAIL: ${LETSENCRYPT_EMAIL}
      LETSENCRYPT_HOST: ${SUPERSET_DOMAIN}
      CERT_NAME: ${SUPERSET_DOMAIN}
      VIRTUAL_PORT: 8088
    depends_on:
      - redis
      - postgres
    links:
      - postgres:postgres
      - redis:redis

  redis:
    image: redis
    restart: always
    ports:
      - "6379"
    volumes:
      - redis:/data
    networks:
      - privatenet
  
  postgres:
    image: library/postgres
    restart: always
    ports:
      - "5432:5432"
    environment:
      POSTGRES_DB: superset
      POSTGRES_PASSWORD: ${POSTGRES_PASS}
      POSTGRES_USER: superset
    volumes:
      - ./postgres/data:/var/lib/postgresql/data
    networks:
      - default
      - privatenet

  pgadmin:
    image: chorss/docker-pgadmin4
    ports:
      - "5050:5050"
    environment:
      UID: 1000
      GID: 1000
    volumes:
      - ./pgadmin/data:/data/chorss/docker-pgadmin4
    networks:
      - default
      - privatenet

  nginx-web:
    image: nginx
    labels:
        com.github.jrcs.letsencrypt_nginx_proxy_companion.nginx_proxy: "true"
    container_name: ${NGINX_WEB:-nginx-web}
    restart: always
    ports:
      - "${IP:-0.0.0.0}:80:80"
      - "${IP:-0.0.0.0}:443:443"
    volumes:
      - ${NGINX_FILES_PATH:-./proxy/data}/conf.d:/etc/nginx/conf.d
      - ${NGINX_FILES_PATH:-./proxy/data}/vhost.d:/etc/nginx/vhost.d
      - ${NGINX_FILES_PATH:-./proxy/data}/html:/usr/share/nginx/html
      - ${NGINX_FILES_PATH:-./proxy/data}/certs:/etc/nginx/certs:ro
      - ${NGINX_FILES_PATH:-./proxy/data}/htpasswd:/etc/nginx/htpasswd:ro
    logging:
      options:
        max-size: ${NGINX_WEB_LOG_MAX_SIZE:-4m}
        max-file: ${NGINX_WEB_LOG_MAX_FILE:-10}

  nginx-gen:
    image: jwilder/docker-gen
    command: -notify-sighup ${NGINX_WEB:-nginx-web} -watch -wait 5s:30s /etc/docker-gen/templates/nginx.tmpl /etc/nginx/conf.d/default.conf
    container_name: ${DOCKER_GEN:-nginx-gen}
    restart: always
    volumes:
      - ${NGINX_FILES_PATH:-./proxy/data}/conf.d:/etc/nginx/conf.d
      - ${NGINX_FILES_PATH:-./proxy/data}/vhost.d:/etc/nginx/vhost.d
      - ${NGINX_FILES_PATH:-./proxy/data}/html:/usr/share/nginx/html
      - ${NGINX_FILES_PATH:-./proxy/data}/certs:/etc/nginx/certs:ro
      - ${NGINX_FILES_PATH:-./proxy/data}/htpasswd:/etc/nginx/htpasswd:ro
      - /var/run/docker.sock:/tmp/docker.sock:ro
      - ./nginx.tmpl:/etc/docker-gen/templates/nginx.tmpl:ro
    logging:
      options:
        max-size: ${NGINX_GEN_LOG_MAX_SIZE:-2m}
        max-file: ${NGINX_GEN_LOG_MAX_FILE:-10}

  nginx-letsencrypt:
    image: jrcs/letsencrypt-nginx-proxy-companion
    container_name: ${LETS_ENCRYPT:-nginx-letsencrypt}
    restart: always
    volumes:
      - ${NGINX_FILES_PATH:-./proxy/data}/conf.d:/etc/nginx/conf.d
      - ${NGINX_FILES_PATH:-./proxy/data}/vhost.d:/etc/nginx/vhost.d
      - ${NGINX_FILES_PATH:-./proxy/data}/html:/usr/share/nginx/html
      - ${NGINX_FILES_PATH:-./proxy/data}/certs:/etc/nginx/certs:rw
      - /var/run/docker.sock:/var/run/docker.sock:ro
    environment:
      NGINX_DOCKER_GEN_CONTAINER: ${DOCKER_GEN:-nginx-gen}
      NGINX_PROXY_CONTAINER: ${NGINX_WEB:-nginx-web}
    logging:
      options:
        max-size: ${NGINX_LETSENCRYPT_LOG_MAX_SIZE:-2m}
        max-file: ${NGINX_LETSENCRYPT_LOG_MAX_FILE:-10}

networks:
  default:
    external:
      name: ${NETWORK:-webproxy}
  privatenet:

volumes:
  redis:
    external: false

